.productScannerScreen {
    height: 100%;
}

.productScannerScreen > .header {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: .5rem;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.productScannerScreen > .contentBody {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 1rem;
    flex: 1;
}

.productScannerScreen > .contentBody > .viewFinder {
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
    border-radius: .8rem;
    border: 0 solid transparent;
}

.productScannerScreen > .contentBody > .productInfo {
    display: flex;
    flex-direction: row;
}

.productScannerScreen > .contentBody > .productInfo > .body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.productScannerScreen > .contentBody > .productInfo > .body > .contents {
    display: flex;
    flex-direction: row;
}

.productScannerScreen > .contentBody > .productInfo > .body > .contents > .allergens,.ingredients {
    display: flex;
    flex-direction: column;
}

.productScannerScreen > .contentBody > .productInfo > .imageContainer {
    height: 100%;
    width: 33%;
}
