.productScannerScreen {
    height: 100%;
}

.productScannerScreen > .header {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: .5rem;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.productScannerScreen > .contentBody {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 1rem;
    flex: 1;
}

.productScannerScreen > .contentBody > .viewFinder {
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
    border-radius: .8rem;
    border: 0 solid transparent;
}

.productScannerScreen > .contentBody > .productInfo {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border: 0 solid transparent;
    border-radius: 0.5rem;
    padding: .5rem;
    gap: .5rem;
}

.productScannerScreen > .contentBody > .productInfo > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.productScannerScreen > .contentBody > .productInfo > header > .imageContainer {
    height: 100%;
    width: 33%;
    border: 0 solid transparent;
    border-radius: .2rem;
    overflow: hidden;
}

.productScannerScreen > .contentBody > .productInfo > .body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.productScannerScreen > .contentBody > .productInfo > .body > .allergens,.ingredients {
    display: flex;
    flex-direction: column;
}

